---
layout: default
bodyclass: "home"
---

<!-- <table id="table" class="table table-striped" cellspacing="0">
    <thead>
        <tr>
            <th>Post</th>
            <th>
              <div class="term">
                <span class="term__name">Term 8</span>
                <span class="term__dates">2008 – 2013</span>
              </div>
            </th>
            <th>
              <div class="term">
                <span class="term__name">Term 7</span>
                <span class="term__dates">2005 – 2008</span>
              </div>
            </th>
            <th>
              <div class="term">
                <span class="term__name">Term 6</span>
                <span class="term__dates">2000 – 2005</span>
              </div>
            </th>
            <th>
              <div class="term">
                <span class="term__name">Term 5</span>
                <span class="term__dates">1995 – 2000</span>
              </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Beitbridge East</th>
            <td><div class="person-group"></div></td>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">Kembo Mohadi</span>
                        <span class="person__group">ZANU PF</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Beitbridge West</th>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">Metrine Mdau</span>
                        <span class="person__group">ZANU PF</span>
                        <span class="person__dates">31 Aug 2008 – 16 Feb 2010</span>
                    </div>
                    <div class="person">
                        <span class="person__name">Joe Bloggs</span>
                        <span class="person__group">ZANU PF</span>
                        <span class="person__dates">17 Feb 2010 – current</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Bikita East</th>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">Kennedy Matimba</span>
                        <span class="person__group">ZANU PF</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Bikita South</th>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">Jeppy Jaboon</span>
                        <span class="person__group">ZANU PF</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Bikita West</th>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">Munyaradzi Kereke</span>
                        <span class="person__group">ZANU PF</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Bindura North</th>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">Kenneth S. Musanhi</span>
                        <span class="person__group">ZANU PF</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Bindura South</th>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">Toendepi Matangira</span>
                        <span class="person__group">ZANU PF</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Binga North</th>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">Dubeko Sibanda</span>
                        <span class="person__group">MDC-T</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Binga South</th>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">Joel G. Gabbuza</span>
                        <span class="person__group">ZANU PF</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Bubi</th>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">Clifford Sibanda</span>
                        <span class="person__group">ZANU PF</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Bubi Umguza</th>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">Obert Mpofu</span>
                        <span class="person__group">ZANU PF</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Budiriro</th>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">Costa Machingauta</span>
                        <span class="person__group">MDC-T</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Buhera Central</th>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">Ronald Muderedzwa</span>
                        <span class="person__group">ZANU PF</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Buhera North</th>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">William Mutomba</span>
                        <span class="person__group">ZANU PF</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Buhera South</th>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">Joseph Chinotimba</span>
                        <span class="person__group">ZANU PF</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Buhera West</th>
            <td>
                <div class="person-group">
                    <div class="person">
                        <span class="person__name">Oliver Mandipaka</span>
                        <span class="person__group">ZANU PF</span>
                    </div>
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
            <td>
                <div class="person-group">
                    <div class="person person--new">New</div>
                </div>
            </td>
        </tr>
    </tbody>
</table> -->

<script type="text/html" id="template-table">
    <table id="table" class="table table-striped" cellspacing="0">
        <thead>
            <tr>
                <th></th>
              <% _.each(terms, function(term, i){ %>
                <th>
                  <div class="term">
                    <span class="term__name"><%= term.name %></span>
                    <span class="term__dates"><%= term.start_date %> – <%= term.end_date %></span>
                  </div>
                </th>
              <% }) %>
            </tr>
        </thead>
    </table>
</script>

<script type="text/html" id="template-popover">
    <div class="popover">
        <div class="arrow"></div>
        <div class="popover-content"></div>
        <div class="popover-footer">
            <span class="btn btn-link js-split-person"><i class="fa fa-user-plus fa-space-after"></i>Split</span>
            <span class="btn btn-link btn-link--danger js-remove-person"><i class="fa fa-trash fa-space-after"></i>Remove</span>
        </div>
    </div>
</script>

<script type="text/html" id="template-edit-person">
    <div class="form-group">
        <label for="personName">Name:</label>
        <input id="personName" class="form-control" value="<%= personName %>">
    </div>
    <div class="form-group">
        <label for="personGroup">Group:</label>
        <input id="personGroup" class="form-control" value="<%= personGroup %>">
    </div>
    <button class="btn btn-primary btn-block js-save-person"><i class="fa fa-check fa-space-after"></i>Save</button>
</script>

<script type="text/html" id="template-person">
    <div class="person">
        <span class="person__name"><%= personName %></span>
        <span class="person__group"><%= personGroup %></span>
        <span class="person__dates">Date – Date</span>
    </div>
</script>
