<!DOCTYPE html>
<html>
  <head>
{% include head.html %}
  </head>
  <body class="{{ page.bodyclass }}">

    <header class="site-header">
      <a class="js-save btn btn-primary pull-right" href="#">Save</a>
      <h1>Post editor</h1>
      <a class="js-save-csv" href="#">Save CSV</a>
    </header>

    <div class="site-content">
{{ content }}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
    <script src="{{ '/assets/javascript/vendor/jquery-1.12.2.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/javascript/vendor/underscore.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/javascript/vendor/bootstrap.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/javascript/vendor/datatables.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/javascript/main.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
