<!DOCTYPE html>
<html>
  <head>
{% include head.html %}
  </head>
  <body class="{{ page.bodyclass }}">

    <header class="site-header">
      <div class="container">
        <h1>Skeleton site</h1>
      </div>
    </header>

    <div class="site-content">
      <div class="container">

{{ content }}

      </div>
    </div>

    <script src="{{ '/assets/javascript/vendor/jquery-1.12.2.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/javascript/vendor/bootstrap.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/javascript/main.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
